@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
    margin: 0;
    padding: 0;
	font-family: 'Ubuntu', sans-serif;/*fonts.google.com */
}
 .clearfix:after, .clearfix:before { /* создает размер для блоков c float */	 
	 content: '';
	 display: table;
	 width: 100%;
	 }
.container1 {
	max-width: 1000px;
	margin: 0 auto; /*по центру горизонтали*/
	padding-left: 15px;
	padding-right: 15px;
}	 
header {
	background: #fff url(../img/first-bg.jpg)  no-repeat center top / cover;
	margin-bottom: 15px;
	font-family: 'Ubuntu', sans-serif;
	
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}

header .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo {
	flex-grow:1;
	text-align: center;
	
	flex-basis: 250px;
}
.logo a{
	 color: green;	 
	 margin : 0;
	 font-family: 'Lobster', cursive;
	 font-size: 44px;
	 text-decoration: none;
 }

.nav {
	 flex-grow:5;
	 
	 
	 
 }
.nav  .menu ul{
	 margin: 0;
	 display: flex;
	 flex-wrap: wrap;
	 list-style-type: none;
	 justify-content: space-around; 
 }
.nav .menu li{	
	
	margin-right:30px;
} 
.nav .menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	
}
.menuToH {display: none; color: #fff;} 
.button {
	background: #fed136;
	color: #484543;
	border-radius: 5px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
	margin-bottom: 30px;
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;
}
.button a{
	text-decoration: none;
	text-transform: uppercase;
	
}