body {
	margin :0;
	padding : 0;
}
.block_img{
	display: flex;
	flex-wrap: wrap;
}
.img_item {
	flex: 1 0 250px;
	margin: 10px;
	
}
.img_item img {
	width :250px;
}
.block-for-slider {
	display:none;
}